<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="Wedoogift Logo" src="../assets/img/wedoogift_logo.png">
</div>
<app-desired-amount></app-desired-amount>