<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Veuillez renseigner un montant</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="amount">Montant désiré</label>
        <input type="number" id="amount" class="form-control" name="amount" ngModel required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Valider</button>
    </form>
  </div>
</div>